.nav-container {
  width: 1280px;
  height: 60px;
  margin: 44px auto 22px;
  color: white;
  display: flex;
  vertical-align: middle;
}

.logo-container {
  margin: auto 0;
}

.nav-logo {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  width: 500px;
  height: 100%;
  margin: auto;
  align-items: center;

}

.search-bar {
  outline: none;
  width: 550px;
  height: 45px;
  color: black;
}
